
<div class="app__container">
          <div class="grid app__content">
            <div class="grid__row">
              <div class="grid__column-4">
                  <div class="img__details">
                       <img src="{{product.image}}" style="width:350px">
                  </div>
                 
              </div>
                <div class="grid__column-8">
                    <h2>{{product.name}}</h2>
                   <div class="home-product-item__price">
                          Gía   <span class="home-product-item__price-old">{{product.price_old}}</span>
                              -
                            <span class="home-product-item__price-current">{{product.price_current}}</span>
                           </div>
                             <div class="home-product-item__rating">
                                 <i class="home-product-item__start-gold fas fa-star"></i>
                                 <i class="home-product-item__start-gold fas fa-star"></i>
                                 <i class="home-product-item__start-gold fas fa-star"></i>
                                 <i class="home-product-item__start-gold fas fa-star"></i>
                                 <i class=" fas fa-star"></i>
                             </div>
                           <div class="auth-form__controls">
                               <a href="/">
                               <button class="btn btn-auth-form__controls-back">
                    TRỞ LẠI
                  </button>
                               </a>
                  
                  <button class="btn btn--primary btn--disable form-submit">Mua</button>
                </div>
                </div>
            </div>
          </div>
</div>  